<% include header.ejs %>
 <title>QuizBros</title>



 <style>
  html{
   padding:50px;
  }
 </style>



</head>
<body>
 <div class="container">
  <div class="jumbotron text-center">
      <h2> Hello to QuizBros! </h2>
  </div>
 </div>
</body>
</html>